body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 4.5fr;
}

header {
    grid-area: 1/1/2/3;
    display: flex;
    height: 100%;
}

.title-ctr {
    display: flex;
}

header img {
    width: 3%
}


.project-list {
    cursor: pointer;
}

.task-ctr {
    display: flex;
    list-style: none;
}