@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 6fr;
    grid-template-columns: 1fr 4.5fr;
    gap: 3em;

    font-family: lato, Roboto, sans-serif;
    padding: 0px 3em;
    margin: 0px;
}

header {
    grid-area: 1/1/2/3;
    display: flex;
    height: 90%;
    justify-content: space-around;
    gap: 100px;
    border: solid 2px black;
    border-radius: 8px;
    padding: 0px 1em;
    margin-top: 1.5em;
}

ul {
    list-style: none;
}

.title-ctr {
    display: flex;
    align-items: center;

    margin-right: -90px;

}

.title-ctr>img {
    width: 5%
}

header>img {
    flex-shrink: 0;
    margin-right: auto;
    width: 3%;
    cursor: pointer;
}

h2 {
    margin: 0px;
}

nav,
.app-ctr {
    border: solid 2px black;
    border-radius: 8px;
    margin-bottom: 1.5em;

    padding: 1em 1em;
    transition: 6s;
}

.close-nav-body {
    grid-template-columns: 1fr;
}

.close-nav {
    display: none;
}

.close-nav-app-ctr {
    grid-area: 2/1/3/3;
}

nav ul {
    padding-left: 10px;
    cursor: pointer;
}

.project-list img {
    width: 10%;
    cursor: pointer;
}

.project-list-item {
    display: flex;
    justify-content: space-between;
}

.home-div li {

    display: flex;

}

#inbox {
    margin: 0px;
}

.project-delete:hover,
.home-div>ul:hover #inbox,
.project-list-item:hover span {
    transform: scale(1.3);
}


.add-project-form {
    display: flex;
    flex-direction: column;
    gap: 1em;

    border: solid 1px black;
    padding: .5em;

    border-radius: 8px;
}

.add-project-form button {
    cursor: pointer;
}

.project-title {
    line-height: 2em;
    padding: 0px .4em;
}

.project-btn-ctr {
    display: flex;
    justify-content: flex-end;
    gap: .8em;
}

.task-list {
    width: 75vw;
    padding: 0;
}

.task-ctr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 0;
    border-left: 10px white solid;
}



.task-ctr:hover {
    border-left-color: black;
}

.task-ctr li {

    flex: 0 1 0;
}

.task-description {
    overflow: hidden;
    height: 0;
    padding: 0 1em 0 3.3em;
}

.task-description-open {
    padding: 1em 1em 2em 3.3em;
    height: initial;
}


.task-ctr img {
    width: 4rem;
    cursor: pointer;
}

/* Add task form */
.add-task-form {
    width: 80%;
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr;

    border: solid 1.5px black;
    padding: .8em;

    border-radius: 8px;
}